{% extends "webapp/base.html" %}
{% block title %}Mentions légales{% endblock %}
{% block content %}
{% load static %}
<link href="{% static 'webapp/css/search.css' %}" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Top section -->
{% for product in searched_product %}
<section class="search_top" style="background-image: url({{ product.product_img }});">
    <div class="search_top_text">
        <h1>
            {{ product.product_name }}
        </h1>
    </div>
</section>
{% endfor %}

<!-- Result section -->
<div class="search_body">
    <div style="text-align:center">
        <h3>Vous pouvez remplacer cet aliment par :</h3>
        <select id="filter_select" style="text-transform: capitalize;">
            <option selected value="nofilter"> Aucun filtre </option>
            {% for nutriscore in nutriscore_list %}
            <option style="text-transform: uppercase;">{{ nutriscore.product_nutriscore }}</option>
            {% endfor %}
        </select>
    </div>
    <div id="product_list">

    </div>
</div>

<script>
    function nutriFilter(nutrichar, urlDjango, searchProd) {
        $.ajax({
            type: 'GET',
            url: urlDjango,
            data: {
                'nutrichar': nutrichar,
                'search_prod': searchProd,
            },
            success: function (data) {
                console.log(data);
                $("#product_list").html(data);
            }
        })
    }
</script>

{% for product in searched_product %}
<script>
    $(document).ready(function () {
        var nutrichar = "nofilter";
        nutriFilter(nutrichar, "{% url 'ajax_search' %}", "{{ product.id }}");
    });

    $(document).on('change', '#filter_select', function () {
        var nutrichar = $(this).val();
        nutriFilter(nutrichar, "{% url 'ajax_search' %}", "{{ product.id }}");
    });
</script>
{% endfor %}

{% endblock %}